@charset "UTF-8";
/* 💥 Стили для box-sizing которые стоит использовать по-умолчанию */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
}

/* 💥 Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* 💥  Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 💥  Свойства для обнуления курсива у address */
address {
  font-style: normal;
  /* or */
  font-style: inherit;
}

/* 💥  Сброс стилей у кнопки */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* 💥  Класс для обнуления базовых свойств у списков (ul) */
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* 💥 Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.item {
  outline: 1px solid indigo;
}

@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.image {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.thumb {
  margin-top: 30px;
}

.list-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.list-descr {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0;
}

.team-item {
  outline: 1px solid goldenrod;
  height: 622px;
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-item {
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    height: 428px;
  }
}

@media screen and (min-width: 480px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.client-item {
  height: 92px;
  background: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .client-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

@media screen and (max-width: 767px) {
  .client-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */