body {
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
}

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
} */

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.link:hover,
.link:focus {
  color: #e85a19;
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* .header {
  background-color: #86a8e7;
  padding-top: 50px;
  padding-bottom: 50px;
}


.footer {
  background-color: #86a8e7;
  padding-top: 50px;
  padding-bottom: 50px;
} */

/* .thumb {
  padding: 20px 24px;
  border: 1px solid red;
  border-top: none;
} */
