.list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
  }
}
.item {
  outline: 1px solid indigo;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);

    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

// .item + .item {
//   @media screen and (max-width: 767px) {
//     margin-top: 30px;
//   }
// }

.image {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.thumb {
  margin-top: 30px;
}
.list-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.list-descr {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;

  margin-bottom: 0;
}
