.header {
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--header-border-color);
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// header burger button

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  line-height: 0;
  transition: transform-color var(--transition);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-btn-icon {
  width: 40px;
  height: 40px;
}

// mobile modal nav

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
  background-color: var(--title-color);
  padding: 48px 25px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear;
  visibility: 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  line-height: 0;
  transition: transform-color var(--transition);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.close-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-modal-container {
  display: column;
  width: 480px;
  height: 796px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-nav-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  margin-bottom: 302px;
  color: var(--header-color);
}

.modal-nav-link {
  cursor: pointer;

  &:focus {
    color: var(--accent-color);
  }
}

.modal-menu-item:not(:last-child),
.modal-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-social-nav {
  display: flex;
  margin-top: 64px;
  bottom: 0;
  left: 0;
}

.modal-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--second-header-color);

  &:focus {
    color: var(--accent-color);
  }
}

.modal-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-header-color);

  &:focus {
    color: var(--accent-color);
  }
}

.modal-social-item {
  display: flex;
  flex-direction: reverse;
}

.modal-social-link {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }

  & {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    cursor: pointer;
  }
}

.modal-nav-link:hover .modal-contacts-link .modal-social-link .social,
.modal-nav-link:focus .modal-contacts-link .modal-social-link .social {
  color: var(--accent-color);
}

// .modal-nav-link:hover,
// .modal-nav-link:focus
// {
//    color: var(--accent-color);
